@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/******* GENERAL *******/
*{
    font-family: 'Michroma', sans-serif;
    color:#333333;
}

img{
    width:100%;
}
body{
    margin:0;
}
a{
    color:inherit;
    text-decoration: none;
}
.btn{
    border-radius: 6px;
    border: 0;
    color: #ffffff;
    font-size:12px;
}

.page-width{
    margin:50px 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#container{
    width:1440px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin:-10px auto 0;
    background-color:#ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;;
    position: relative;
    min-height: 101vh;
}

/******* NAV *******/
nav{
    width: 98%;
    margin-top:20px;
    left: 1%;
    font-size:14px;
    z-index:5;
    }

nav.dark ul li a{
    color:#012A3E !important;
}
nav.white ul li a{
    color:#FFFFFF;
}

nav >div{
    display:flex;
}
nav .zzh-logo{
    width:50px;
}

.connect-button.btn {
    background-color: #3996C4;
    border-radius: 6px;
    border:0;
    color:#ffffff;
}
button a{
    color:#ffffff;
    text-decoration: none;
    margin:0 4px;
}

.abstract-bg{
    height: 500px;
    width: 70%;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 160px;
    left: 30%;
    z-index: 0;
}
/******* SIDEBAR *******/
.sidebar{
    background-color:#012A3E;
    width:120px;
    height:100vh;
    min-height:850px;
    position: fixed;
    left:0;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .logo{
    width:40px;
    margin-top:30px;
    height:10%;
}

.sidebar .icons{
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar .icons>div{
    margin:40px 0;
}

.sidebar .icons>div figure{
    width:30px;
}

.sidebar .icons .buffer{
    position: absolute;
    left:120px;
    width: 15px;
    margin-top: -51px;
}

#place .sidebar .icons .buffer{
    margin-top:339px;
}

#target .sidebar .icons .buffer {
    margin-top: 70px;
}
#contact .sidebar .icons .buffer {
    margin-top: 466px;
}


/******* FOOTER *******/
footer{
    background-color: #012A3E;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    min-height: 200px;
    padding-top: 50px;
}
footer figure{
    width:50px;
}

footer p{
    font-size:10px;
    color:white;
    text-align: center;
}

@media screen and (max-width:1440px){
    .container{
        width:100%;
        box-shadow: none;
        margin:0;
    }
    .page-width{
        padding:0 50px;
        margin:0 auto;
    }
}


