#dashboard{
    width:100%;
    min-height: 960px;
}

#dashboard .nav{
    position: absolute;
    width:100%;
    display: flex;
    justify-content: flex-end;
}

#dashboard .nav button{
    margin:20px;
}


#dashboard .page-width{
    margin:10% 5% 0 7%;
}

#dashboard h1{
    align-self:flex-start;
    margin-bottom: 50px;
}

#dashboard .missions{
    width:100%;
}

#dashboard .missions .header-table{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#dashboard .missions table thead{
    color:#012A3E
}

#dashboard .missions table thead tr, #dashboard .missions table thead tr th{
    border:none;
}

#dashboard .missions table tbody tr td:last-child{
    text-align: right;
}

