/******* GENERAL *******/
#home, #home-mission{
    width:100%;
}
#home >div:last-child, #home-mission >div:last-child{
    margin-bottom:250px;
}

/******* HOMEPAGE *******/

/******* HEADER *******/
#home .header-hp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 750px;
    width:100%;
    margin-top: -98px;
    background-size: cover;
    background-position: center;
}

#home .header-hp .header-title{
    align-items: flex-start;
}

#home .header-hp .header-title h1{
    text-transform: uppercase;
    margin: 0 0 -5px;
    font-size:48px;
    font-weight: 400;
}

#home .header-hp .header-title >*{
    color:#ffffff;
}

/******* MISSIONS *******/
#home .missions-container{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#home .missions-container a{
    margin: 10px 20px;
}

#home .missions-container .card{
    min-height: 330px;
    width: 320px;
    background-position: center;
    background-size: cover;
    border-radius:13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

#home .missions-container .card .layer{
    position: absolute;
    content:"";
    width:100%;
    min-height:330px;
    border-radius:13px;
    background: linear-gradient(344deg, rgba(0,0,0,0.6096813725490196) 0%, rgba(0,0,0,0) 100%);
}

#home .missions-container .card .title{
    position: relative;
    margin:0 10px 15px 0;
}

#home .missions-container .card .title >*{
    color:#ffffff;
    text-align: right;
    margin-bottom: 0;
}

    /******* MISSION PAGE *******/
#home-mission .banner{
    width:100%;
    float:left;
    clear:both;
    min-height: 580px;
    background-size: cover;
    background-position: center;
    margin-top:-7%;
    background-image: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    position: relative;

}

#home-mission .banner:after{
    content: "";
    display: block;
    width: 100%;
    min-height: 575px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

#home-mission .banner svg{
    position: absolute;
    width:100.1%;
    bottom:0;
    top:80%;
}

#home-mission .page-width.banner-title{
    position: absolute;
    z-index: 5;
    margin:0;
    width:100%;
    top:40%;
}

#home-mission .banner-title >*{
    color:#ffffff;
}

#home-mission .page-width.banner-title p{
    font-style: italic;
}

#home-mission .page-width{
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******* TARGET SECTION *******/

#home-mission .target .target-container *{
    color:#ffffff;
}

#home-mission .target .target-container  .target-item li{
    list-style: none;
    text-align: center;
}
#home-mission .target .target-container  .target-item ul{
    margin:0;
    padding:0;
}
#home-mission .target-container .target-item.multiple{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/******* AGENT, CONTACT & PLACES *******/
#home-mission .agents-contacts-places{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#home-mission .agents-contacts-places .item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******* MODAL *******/
#home-mission .modal .modal-content .modal-header{
    border-bottom: none;
}
#home-mission .modal .modal-content .modal-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

#home-mission .modal .modal-content .modal-body .infos{
    margin: 50px 0 20px;
}
#home-mission .modal .modal-content .modal-body .infos >div{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
}
#home-mission .modal .modal-content .modal-body .infos >div p{
    margin:0 0 0 10px;
}

/******* REST INFOS *******/
#home-mission .rest-infos .dates{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#home-mission .connect-button.btn{
    padding: 15px 20px;
}

@media screen and (max-width:1440px){
    #home .header-hp{
        margin-top: -12%;
        position: relative;
    }
    #home .header-hp:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        min-height: 750px;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        top:0;
        left:0;
        z-index: 0;
    }
    #home .header-hp .header-title{
        align-items: center;
        position: relative;
        z-index: 1;
    }
    #home .header-hp .header-title >*{
        position: relative;
        text-align: center;
    }

    #home .section-mission{
        margin-top:50px;
    }

    #home-mission .banner{
        margin-top:-12%;
    }

}

@media screen and (max-width:1049px){
    #home-mission .banner svg{
        top:86%;
    }
}

@media screen and (max-width:992px){
    #home .header-hp{
        margin-top: -26%;
    }
    #home-mission .banner {
        margin-top: -35%;
        min-height: 440px;

    }
    #home-mission .banner .banner-title{
        top: 55%;
    }

    #home nav .navbar-collapse .navbar-nav,
    #home-mission nav .navbar-collapse .navbar-nav{
        text-align: center;
    }
    #home nav .navbar-collapse .navbar-text,
    #home-mission nav .navbar-collapse .navbar-text{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 730px){
    #home-mission .agents-contacts-places{
        flex-direction: column;
        align-items: center;
    }
    #home-mission .agents-contacts-places >div{
        margin: 10px auto;
    }
    #home-mission .banner {
        margin-top: -38%;
    }
    #home-mission .banner svg {
        top: 90%;
    }
    #home-mission .rest-infos >p,
    #home-mission .rest-infos .dates>p {
        text-align: center;
    }
    #home-mission .rest-infos .dates{
        flex-direction: column;
        align-items: center;
    }
    #home-mission .page-width{
        padding:50px 10px;
    }
}

@media screen and (max-width:676px){
    #home .header-hp{
        min-height: 650px;
    }
    #home .header-hp:after{
        min-height: 650px;
    }
    #home .header-hp .header-title h1{
        font-size:35px;
    }
    #home .header-hp .header-title h2{
        font-size:20px;
    }

}

@media screen and (max-width: 522px){
    #home .header-hp .header-title{
        padding:0 2px;
        margin-top:50%;
    }
    #home .header-hp .header-title h1{
        font-size:20px;
    }
    #home .header-hp .header-title h2{
        font-size:16px;
    }
    #home .header-hp {
        margin-top: -74%;
    }

    #home .section-mission >p{
        text-align: center;
    }

    #home-mission .banner {
        margin-top: -66%;
    }
    #home-mission .banner svg {
        top: 92.5%;
    }
}

@media screen and (max-width : 386px){
    #home-mission .banner svg {
        top: 95%;
    }
    #home-mission .banner {
        margin-top: -80%;
    }
}


