.header-hp{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    max-height: 791px;
    width:100%;
    margin-top: -98px;
}
.header-hp figure{
    position: absolute;
    width:100%;
    margin:0 ;
    top:0%;
    max-height:791px;
    z-index:0;
}

.header-hp .header-title{
    z-index:1;
    align-items: flex-start;
    margin-top:-60px;
}

.header-hp .header-title h1{
    text-transform: uppercase;
    margin: 0 0 -5px;
    font-size:48px;
    font-weight: 400;
}

.header-hp .header-title h1,.header-hp .header-title h2{
    color:#ffffff;
}

